@import '../GlobalStyles.scss';

.message {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;

  .text {
    margin-right: 16px;
    background-color: $accent-color;
    color: $dark-gray;
    padding: 8px 30px;
    border-radius: 4px;
  }
}
