$font-family: 'Outfit', sans-serif;
$body-font-size: 16px;
$small-font-size: 12px;

//colors
$white: rgba(255, 255, 255, 0.7);
$background-gray: #373737;
$dark-gray: #232323;
$light-gray: #808080;
$accent-color: #c3ff00;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: $background-gray;
  color: $white;
  font-family: $font-family;
}

p {
  margin: 0;
}

h2 {
  font-size: 36px;
  text-align: center;
}

.flex {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.spaceBetween {
  justify-content: space-between;
  width: 100%;
}

input,
textarea {
  background-color: $background-gray;
  border: $light-gray 1px solid;
  padding: 12px;
  border-radius: 4px;
  color: $white;
  font-family: $font-family;
  font-size: $body-font-size;
  width: 100%;
  min-width: 500px;
}

input:focus,
textarea:focus {
  outline: $accent-color 1px solid;
}

.center {
  text-align: center;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-5 {
  margin-bottom: 40px;
}
